h1{
    text-align: center;
    font-size: 21px;
    margin: 0 0 5px 0;
}

h2{
    text-align: center;
    font-size: 14px;
    margin: 0 0 20px 0
}
img{
    display: block;
    margin: 15px auto 20px auto;
    width: 240px;
    height: auto;
}

h3, h4 {
    font-size: 13px;
    margin: 12px 0 4px 0;
}

p, li, td, label, a {
    font-size: 10;
    line-height: 1.4;
}

p{
    margin: 0 0 5px 0;
    text-align: justify;
    color: ;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th{
    background: #4a4a4a;
    color:white;
    padding: 5px;
    text-align: center;
}